*{
    margin: 0;
    padding:0;
    font-family: 'RocknRoll One', sans-serif;
}

body{
    display: grid;
    grid-template-columns: minmax(0px, auto);
    grid-template-rows: 5rem 1fr 5rem;
    background-color: #B7E3CC;
    color: #354f52;
    width: 100vw;
    overflow-y: auto;
    justify-content: center;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.band-name{
    display:flex;
    font-family: 'Indie Flower', cursive;
    background-color: #7d82b8;
    color: #faf9f9;
    justify-content: center;
    width: 100%
}

h2{
    font-size: 1rem;
}

h3{
    font-size: 1rem;
}

nav{
    grid-area: h;
    display: flex;
    flex-direction: column;
    align-items: center;
}

li{
    list-style-type: none;
}

.shop-item > span{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.cart-row>span{
    padding: 15px;
}

@media screen and (min-width: 640px){
    body{
        display: grid;
        grid-template-rows: 5rem 8rem 1fr 5rem;
        grid-template-areas: 
            'n'
            'm'
            'c'
            'f';
        width: 100vw;
        height: 100vh;
    }

    .nav{
        grid-area: n;
    }

    .main{
        grid-area: m;
    }
    .cart{
        grid-area: c
    }
    footer{
        grid-area: f
    }


}
