*{
    margin: 0;
    padding:0;
    font-family: 'RocknRoll One', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    background-color: #B7E3CC;
    color: #354f52;
    width: 100vw;
    height: 100vh;
}
h1{
    font-family: 'Indie Flower', cursive;
    background-color: #7d82b8;
    color: #faf9f9;
    justify-content: center;
}